<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Scrum4u Project Manager</title>
      <link rel="stylesheet" href ="css/bootstrap.min.css"/>
      <link rel="stylesheet" href ="css/style.css"/>
	  <link rel="stylesheet" href ="css/front_beta.css"/>
      <script type="text/javascript" src="js/jquery.v2.0.3.js"></script>
      <script type="text/javascript" src ="js/bootstrap.min.js"></script>
      <script type="text/javascript" src ="js/script.js"></script>
      
   </head>
<body>
   <div class="container">
      <div class="header row">
		 <div class="logo col-xs-12 col-sm-12 col-md-2">
			Scrum4u
		 </div>
         <div class="col-xs-12 col-sm-12 col-md-10">
            <div class="FrontMenu">
			  <div class="FrontMenuContent">
				 <ul>
					<li class="col-xs-12 col-sm-12 col-md-3"><a href="index.html#Page1">Scrum4u</a></li>
					<li class="col-xs-12 col-sm-12 col-md-3"><a href="index.html#Page2">Produkt</a></li>
					<li class="col-xs-12 col-sm-12 col-md-3"><a href="index.html#Page3">O nas</a></li>
					<li class="col-xs-12 col-sm-12 col-md-3"><a href="index.html#Page4">Kontakt</a></li>
				 </ul>
			  </div>
			</div>
		</div>
		 <!--<div class="col-xs-12 col-sm-12 col-md-2">
			Scrum4u
		 </div>-->
	 </div>


         <div class="col-xs-12 col-sm-12 col-md-12">
            
                 <div class="maincontent">
                  <div class="maincontentinner">
                     
					 
         <div class="ImageBox">
               <div class="FrontHelloContent">
                  <h1 class="">Uporządkuj swoje projekty!</h1>
                  
                  <form class="FrontLogInForm" role="form">
                     <div class="form-group">
                         <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                     </div>
                     <div class="form-group">
                         <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                     </div>
                     <div class="form-group">
                        <button type="submit" class="btn btn-default">Zaloguj</button>
                        <a class="FrontForgotPassword" href="#">
                           Zapomniałeś swoje hasło?
                        </a>
                     </div>
                  </form>
                  
                  <div class="FrontHelloSingIn">
                     <span>Nie masz konta?</span>&nbsp;<a href="register.html">Zarejestruj się!</a>
                  </div>
                  
               </div>
            
         </div>
					 
					 
					 
                     <div class="footer">
                        
                        <div class="footer-left">
                           <span>© 2013. Scrum4u Admin template. All Rights Reserved.</span>
                        </div>
                        
                        <div class="footer-right">
                           <span>
                           Designed by:
                              <a href="#">Bart Janczak</a>
                           </span>
                        </div>
                        
                     </div>
                     
                  </div>
               </div>
                           
            
         </div>
      </div>
   </div>
</body>
</html>