<?xml version="1.0"?>
<configuration>
    <system.web>

    </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <!-- this line enables default documents for a directory -->
      <files>
        <clear/>
        <!-- removes the existing default document list -->
        <add value="Panel.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
